body {
  padding-top: 10px;
}

h3 {
  text-align: center;
}

.kdm-container {
  margin-bottom: 15px;
  margin-top: 50px
}

.section-label {
  font-size: 20px;
  font-weight: bold;
}

.question-content-type {
  text-decoration: underline;
}

label.checkbox-inline {
  background-color: #dcdfd4;
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 10px !important;
  margin-right: 2%;
  margin-left:0;
  padding: 10px 10px 10px 30px;
}

label.checkbox-inline.checked {
  background-color: #266c8e;
  color: #fff !important;
  text-shadow: 1px 1px 2px #000 !important;
}

.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}

.checkbox-columns label.checkbox-inline {
  min-width: 190px;
  vertical-align: top;
  width: 40%;
}

.table-section-divider td {
  font-variant: small-caps;
  text-align: center;
}

.add-ons-row td,
.extras-row td {
  font-size: 0.7em;
  text-align: left;
}

.add-ons-row ul,
.extras-row ul {
  margin: 0;
  padding: 0 0 0 7px;
}

.expansions-row td {
  padding-left 5px;
}

.expansions-row ul {
  margin: 0;
  padding: 0 0 0 15px;
}

.slim-column {
  width: 25px;
}

.table td,
.table th {
  font-size: 0.8em;
}

.table th {
  text-align: center;
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 125px;
}

dt:after {
  content: ':';
}

dd {
  margin: 0 0 0 135px;
  padding: 0 0 0.5em 0;
}
