body {
  padding-top: 10px;
}

.kdm-container {
  margin-bottom: 15px;
}

.section-label {
  font-size: 20px;
  font-weight: bold;
}

.wave-section-header td {
  font-weight: bold;
}

.wave-table-header td {
  font-weight: bold;
}

.no-content {
  text-align: center;
}

.update-box {
  text-align: center;
}
